* {
    margin: 0;
    padding: 0;
    

}

body {
    height: 100vh;
    background: linear-gradient(rgb(0,0,128), rgb(0,0,0));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 20px;
    
}

.titlediv {
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(32, 31, 31);
    height: 50px;
    gap: 100px;
}

.titlediv img {
    width: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 90vh;
    
    
}



.subtitlediv {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white
}

.vesselsPlusText { 
    display: flex;
    gap: 50px;    
    justify-content: center;
    align-items: center;    
    color: #fff
}

.vesselsPlusText img {
    margin-top: 50px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;  

}

.vesseldiv.goliath img:hover {
    scale: 1.1;        
}

.vesseldiv.heroic img:hover {
    scale: 1.1;
}

.vesseldiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vesseldiv.king {
    color: gray
}

.vesseldiv.king img {
    opacity: 50%;
}

.kingtext {
    display: none;
    justify-content: center;
    font-size: 16px;
    color: rgb(170, 170, 10);
}

.bottomcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.bottomdiv {
    color: rgb(167, 152, 152);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        
    
    }
    
    body {
        height: 170vh;
        background: linear-gradient(rgb(0,0,128), rgb(0,0,0));
        background-repeat: no-repeat;
        background-size: 100%;
        /* padding-bottom: 20px; */
        
    }
    
    .titlediv {
        background-color: darkgrey;
        display: flex;
        align-items: center;
        justify-content: center;
        color:rgb(32, 31, 31);
        height: 50px;
        gap: 20px;
        min-width: 100vw;
        font-size: 8px;
    }
    
    .titlediv img {
        width: 100px;
    }
    
    .container {
        display: flex;
        flex-direction: column;        
        /* justify-content: space-between;     */
        height: 160vh;        
        
        
    }
    
    
    
    .subtitlediv {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        color: white
    }
    
    .vesselsPlusText { 
        display: flex;
        flex-direction: column;
        /* gap: 50px;     */
        justify-content: center;
        align-items: center;    
        color: #fff
    }
    
    .vesselsPlusText img {
        margin-top: 50px;
        width: 150px;
        border-radius: 5px;
        cursor: pointer;  
    
    }
    
    .vesseldiv.goliath img:hover {
        scale: 1.1;        
    }
    
    .vesseldiv.heroic img:hover {
        scale: 1.1;
    }
    
    .vesseldiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .vesseldiv.king {
        color: gray
    }
    
    .vesseldiv.king img {
        opacity: 50%;
    }
    
    .kingtext {
        display: none;
        justify-content: center;
        font-size: 16px;
        color: rgb(170, 170, 10);
    }
    
    .bottomcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    
    .bottomdiv {
        color: rgb(167, 152, 152);    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    
}
